<% title "Blogs" %>

    <div id="promotion_div">

        <span id="niyicharlesblogspot_logo_span">

            <div id="niyicharlesblogspot_logo_top">
            <!-- end #niyicharlesblogspot_logo_top --></div>

            <div id="niyicharlesblogspot_logo">
            <!-- end #niyicharlesblogspot_logo --></div>

        <!-- end #niyicharlesblogspot_logo_span --></span>

        <span id="book_span">
        <!-- end #book_span --></span>

    <!-- end #promotion_div --></div>

    <div id="navigation_div">

        <div id="navigation_holder">

            <div id="navigation">

                <span id="left_navigation">
                <!-- end #left_navigation --></span>

                <span id="home">

                    <a href="" id="home_link">

                        <div id="home_link_div">
                        <!-- end #home_link_div --></div>

                    <!-- end #home_link --></a>

                <!-- end #home --></span>

                <span id="link_space">
                <!-- end #link_space --></span>

                <span id="about">

                    <a href="" id="about_link">

                        <div id="about_link_div">
                        <!-- end #about_link_div --></div>

                    <!-- end #about_link --></a>

                <!-- end #about --></span>

                <span id="link_space">
                <!-- end #link_space --></span>

                <span id="free_stuffs">

                    <a href="" id="free_stuffs_link">

                        <div id="free_stuffs_link_div">
                        <!-- end #free_stuffs_link_div --></div>

                    <!-- end #free_stuffs_link --></a>

                <!-- end #free_stuffs --></span>

                <span id="link_space">
                <!-- end #link_space --></span>

                <span id="radio">

                    <a href="" id="radio_link">

                        <div id="radio_link_div">
                        <!-- end #radio_link_div --></div>

                    <!-- end #radio_link --></a>

                <!-- end #radio --></span>

                <span id="link_space">
                <!-- end #link_space --></span>

                <span id="new_comers">

                    <a href="" id="new_comers_link">

                        <div id="new_comers_link_div">
                        <!-- end #new_comers_link_div --></div>

                    <!-- end #new_comers_link --></a>

                <!-- end #new_comers --></span>

                <span id="link_space">
                <!-- end #link_space --></span>

                <span id="creator">

                    <a href="" id="creator_link">

                        <div id="creator_link_div">
                        <!-- end #creator_link_div --></div>

                    <!-- end #creator_link --></a>

                <!-- end #creator --></span>

                <span id="link_space">
                <!-- end #link_space --></span>

                <span id="hire_me">

                    <a href="" id="hire_me_link">

                        <div id="hire_me_link_div">
                        <!-- end #hire_me_link_div --></div>

                    <!-- end #hire_me_link --></a>

                <!-- end #hire_me --></span>

                <span id="link_space">
                <!-- end #link_space --></span>

                <span id="connect">

                    <a href="" id="connect_link">

                        <div id="connect_link_div">
                        <!-- end #connect_link_div --></div>

                    <!-- end #connect_link --></a>

                <!-- end #connect --></span>

                <span id="link_space">
                <!-- end #link_space --></span>

                <span id="products">

                    <a href="" id="products_link">

                        <div id="products_link_div">
                        <!-- end #products_link_div --></div>

                    <!-- end #products_link --></a>

                <!-- end #products --></span>

                <span id="link_space">
                <!-- end #link_space --></span>

                <span id="download">

                    <a href="" id="download_link">

                        <div id="download_link_div">
                        <!-- end #download_link_div --></div>

                    <!-- end #download_link --></a>

                <!-- end #download --></span>

                <span id="link_space">
                <!-- end #link_space --></span>

                <span id="sponsors">

                    <a href="" id="sponsors_link">

                        <div id="sponsors_link_div">
                        <!-- end #sponsors_link_div --></div>

                    <!-- end #sponsors_link --></a>

                <!-- end #sponsors --></span>

                <span id="link_space">
                <!-- end #link_space --></span>

                <span id="contact">

                    <a href="" id="contact_link">

                        <div id="contact_link_div">
                        <!-- end #contact_link_div --></div>

                    <!-- end #contact_link --></a>

                <!-- end #contact --></span>

                <span id="link_space">
                <!-- end #link_space --></span>

                <span id="right_navigation">
                <!-- end #right_navigation --></span>

            <!-- end #navigation --></div>

        <!-- end #navigation_holder --></div>

    <!-- end #navigation_div --></div>

    <div id="header_div">

        <div id="header">

            <span id="header_left">
            <!-- end #header_left --></span>

            <span id="header_picture_span">

                <span id="main_picture_info_span">
                <!-- end #main_picture_info_span --></span>

                <span id="main_picture_span">

                    <div id="main_picture_top">
                    <!-- end #main_picture_top --></div>

                    <div id="main_picture"><img src="../images/article_index_images/header_main_picture.jpg" width="503" height="266" alt="Picture" />
                    <!-- end #main_picture --></div>

                <!-- end #main_picture_span --></span>

                <span id="thumbnail_span">

                    <div id="thumbnail_top">
                    <!-- end #thumbnail_top --></div>

                    <div id="thumbnail">
                    <!-- end #thumbnail --></div>

                <!-- end #thumbnail_span --></span>

            <!-- end #header_picture_span --></span>

            <span id="header_right">
            <!-- end #header_right --></span>

        <!-- end #header --></div>

    <!-- end #header_div --></div>

    <div class="space_b4_content">
    <!-- end .space_b4_content --></div>

    <div id="container">

        <div id="container_header">

            <span id="container_header_left">
            <!-- end #container_header_left --></span>

            <span id="container_header_right">
            <!-- end #container_header_right --></span>

        <!-- end #container_header --></div>

        <div id="main_content_div">

            <span id="main_content">

                <div class="first_article_div">

                    <div class="first_article_div_space">
                    <!-- end .first_article_div_space --></div>

                    <span class="first_article_span">
                    <!-- end .first_article_span --></span>

                    <span class="second_article_span">

                        <span class="left_article_span">

                            <div class="article_picture_div">

                                <div class="article_picture_square_holder">

                                    <div class="article_picture_square">

                                        <div class="article_picture_square_space">
                                        <!-- end .article_picture_square_space --></div>

                                        <img src="../images/article_index_images/article_picture_square_1.jpg"
                                                width="184" height="184" alt="article_picture_square_1" />

                                    <!-- end .article_picture_square --></div>

                                <!-- end .article_picture_square_holder --></div>

                            <!-- end .article_picture_div --></div>

                            <div class="article_date_div">

                                <span class="left_article_date_span">
                                <!-- end .left_article_date_span --></span>

                                <span class="right_article_date_span">

                                    <span class="date_number">20
                                    <!-- end .date_number --></span>

                                    <span class="date_text">

                                        <div class="date_text_top">
                                        <!-- end .date_text_top --></div>

                                        <div class="date_text_next">

	                                        <div>
                                                January <br/>
                                                2011
                                             </div>

                                        <!-- end .date_text_next --></div>

                                    <!-- end .date_text --></span>

                                <!-- end .right_article_date_span --></span>

                            <!-- end .article_date_div --></div>

                        <!-- end .left_article_span --></span>

                        <span class="right_article_span">

                            <span class="left_article_space">
                            <!-- end .left_article_space --></span>

                            <span class="right_article_space">

                                <div class="article_news_rating">

                                    <span class="article_news">Article | News
                                    <!-- end .article_news --></span>

                                    <span class="rating_stars">

                                        <span class="rating">Rating:
                                        <!-- end .rating --></span>

                                        <span class="stars">

                                        	<img src="../images/article_index_images/rating.jpg" width="50" height="13" alt="rating" />

                                        <!-- end .stars --></span>

                                    <!-- end .rating_stars --></span>

                                <!-- end .article_news_rating --></div>

                                <div class="article_space">
                                <!-- end .article_space --></div>

                                <div class="article_header">

                                  <% if @blogs[0] %>
                                    <%=h truncate(@blogs[0].title.downcase.capitalize.gsub(/<.*?>/,''), :length => 90) %>
                                  <% else %>
                                  <% end %>

                                <!-- end .article_header --></div>

                                <div class="article_space">
                                <!-- end .article_space --></div>

                                <div class="article_text">

                                  <% if @blogs[0] %>
                                    <%=h truncate(@blogs[0].information.gsub(/<.*?>/,''), :length => 400) %>
                                  <% else %>
                                  <% end %>

	                              <!-- end .article_text --></div>

                                <div class="article_space">
                                <!-- end .article_space --></div>

                                  <% if @blogs[0] %>

                                <div class="comment_read_div">

                                    <div class="comment_read">

                                        <a href="">

                                        <span class="article_icon">
                                        <!-- end .article_icon --></span>

                                        </a>

                                        <a href="">

                                            <span class="comment">32 Comments
                                            <!-- end .comment --></span>

                                        </a>

                                        <a href="">

                                            <span class="article_share">
                                            <!-- end #article_share--></span>

                                        </a>

                                        <a href="">

                                            <span class="article_read_more">
                                            <!-- end .article_read_more--></span>

                                        </a>

                                    <!-- end .comment_read --></div>

                                <!-- end .comment_read_div --></div>

                                <div class="article_space">
                                <!-- end .article_space --></div>

                                <div class="tweet_facebook_div">

                                    <span class="facebook_span">

                                        <div class="facebook_bubble">23
                                        <!-- end .facebook_bubble --></div>

                                        <div class="facebook_button">
                                        <!-- end .facebook_button --></div>

                                    <!-- end .facebook_span--></span>

                                    <span class="tweet_span">

                                        <div class="tweet_bubble">56
                                        <!-- end .tweet_bubble --></div>

                                        <div class="tweet_button">
                                        <!-- end .tweet_button --></div>

                                    <!-- end .tweet_span--></span>

                                <!-- end .tweet_facebook_div --></div>

                                  <% else %>
                                  <% end %>

                            <!-- end .right_article_space --></span>

                        <!-- end .right_article_span --></span>

                    <!-- end .second_article_span --></span>

                <!-- end .first_article_div --></div>

                <div class="article_content_seperators">

                    <span class="left_article_content_seperators">
                    <!-- end .left_article_content_seperators --></span>

                    <span class="right_article_content_seperators">
                    <!-- end .right_article_content_seperators --></span>

                <!-- end .article_content_seperators --></div>

				<div class="first_article_div">

                    <div class="first_article_div_space">
                    <!-- end .first_article_div_space --></div>

                    <span class="first_article_span">
                    <!-- end .first_article_span --></span>

                    <span class="second_article_span">

                        <span class="left_article_span">

                            <div class="article_picture_div">

                                <div class="article_picture_square_holder">

                                    <div class="article_picture_square">

                                        <div class="article_picture_square_space">
                                        <!-- end .article_picture_square_space --></div>

                                        <img src="../images/article_index_images/article_picture_square_2.jpg"
                                                width="184" height="184" alt="article_picture_square_2" />

                                    <!-- end .article_picture_square --></div>

                                <!-- end .article_picture_square_holder --></div>

                            <!-- end .article_picture_div --></div>

                            <div class="article_date_div">

                                <span class="left_article_date_span">
                                <!-- end .left_article_date_span --></span>

                                <span class="right_article_date_span">

                                    <span class="date_number">20
                                    <!-- end .date_number --></span>

                                    <span class="date_text">

                                        <div class="date_text_top">
                                        <!-- end .date_text_top --></div>

                                        <div class="date_text_next">

	                                        <div>
                                                January <br/>
                                                2011
                                             </div>

                                        <!-- end .date_text_next --></div>

                                    <!-- end .date_text --></span>

                                <!-- end .right_article_date_span --></span>

                            <!-- end .article_date_div --></div>

                        <!-- end .left_article_span --></span>

                        <span class="right_article_span">

                            <span class="left_article_space">
                            <!-- end .left_article_space --></span>

                            <span class="right_article_space">

                                <div class="article_news_rating">

                                    <span class="article_news">Article | News
                                    <!-- end .article_news --></span>

                                    <span class="rating_stars">

                                        <span class="rating">Rating:
                                        <!-- end .rating --></span>

                                        <span class="stars">

                                        	<img src="../images/article_index_images/rating.jpg" width="50" height="13" alt="rating" />

                                        <!-- end .stars --></span>

                                    <!-- end .rating_stars --></span>

                                <!-- end .article_news_rating --></div>

                                <div class="article_space">
                                <!-- end .article_space --></div>

                                <div class="article_header">

                                  <% if @blogs[1] %>
                                    <%=h truncate(@blogs[1].title.downcase.capitalize.gsub(/<.*?>/,''), :length => 90) %>
                                  <% else %>
                                  <% end %>

                                <!-- end .article_header --></div>

                                <div class="article_space">
                                <!-- end .article_space --></div>

                                <div class="article_text">

                                  <% if @blogs[1] %>
                                    <%=h truncate(@blogs[1].information.gsub(/<.*?>/,''), :length => 400) %>
                                  <% else %>
                                  <% end %>

                                <!-- end .article_text --></div>

                                <div class="article_space">
                                <!-- end .article_space --></div>

                                  <% if @blogs[1] %>

                                <div class="comment_read_div">

                                    <div class="comment_read">

                                        <a href="">

                                        <span class="article_icon">
                                        <!-- end .article_icon --></span>

                                        </a>

                                        <a href="">

                                            <span class="comment">32 Comments
                                            <!-- end .comment --></span>

                                        </a>

                                        <a href="">

                                            <span class="article_share">
                                            <!-- end #article_share--></span>

                                        </a>

                                        <a href="">

                                            <span class="article_read_more">
                                            <!-- end .article_read_more--></span>

                                        </a>

                                    <!-- end .comment_read --></div>

                                <!-- end .comment_read_div --></div>

                                <div class="article_space">
                                <!-- end .article_space --></div>

                                <div class="tweet_facebook_div">

                                    <span class="facebook_span">

                                        <div class="facebook_bubble">23
                                        <!-- end .facebook_bubble --></div>

                                        <div class="facebook_button">
                                        <!-- end .facebook_button --></div>

                                    <!-- end .facebook_span--></span>

                                    <span class="tweet_span">

                                        <div class="tweet_bubble">56
                                        <!-- end .tweet_bubble --></div>

                                        <div class="tweet_button">
                                        <!-- end .tweet_button --></div>

                                    <!-- end .tweet_span--></span>

                                <!-- end .tweet_facebook_div --></div>

                                  <% else %>
                                  <% end %>

                            <!-- end .right_article_space --></span>

                        <!-- end .right_article_span --></span>

                    <!-- end .second_article_span --></span>

                <!-- end .first_article_div --></div>

                <div class="article_content_seperators">

                    <span class="left_article_content_seperators">
                    <!-- end .left_article_content_seperators --></span>

                    <span class="right_article_content_seperators">
                    <!-- end .right_article_content_seperators --></span>

                <!-- end .article_content_seperators --></div>

                <div class="second_article_div">

                    <span class="space_split_article_div">
                    <!-- end .space_split_article_div --></span>

                    <span class="split_article_div">

								<div class="split_article_news_rating">

                                    <div class="split_article_news_rating_pad">

                                        <div class="split_article_news">

                                            <div class="split_spacing_text">Article | News
                                            <!-- end .split_spacing_text --></div>

                                            <div class="split_rating_stars">

                                                <span class="rating">Rating:
                                                <!-- end .rating --></span>

                                                <span class="stars">

                                                    <img src="../images/article_index_images/rating.jpg" width="50" height="13" alt="rating" />

                                                <!-- end .stars --></span>

                                            <!-- end .split_rating_stars --></div>

                                        <!-- end .split_article_news --></div>

                                    <!-- end .split_article_news_rating_pad --></div>

                                <!-- end .split_article_news_rating --></div>

                                <div class="split_article_date_div">

                                    <span class="left_article_date_span">
                                    <!-- end .left_article_date_span --></span>

                                    <span class="right_article_date_span">

                                        <span class="date_number">20
                                        <!-- end .date_number --></span>

                                        <span class="date_text">

                                            <div class="date_text_top">
                                            <!-- end .date_text_top --></div>

                                            <div class="date_text_next">

                                                <div>
                                                    January <br/>
                                                    2011
                                                 </div>

                                            <!-- end .date_text_next --></div>

                                        <!-- end .date_text --></span>

                                    <!-- end .right_article_date_span --></span>

                                <!-- end .article_date_div --></div>

                								<div class="split_article_header">

                                  <% if @blogs[2] %>
                                    <%=h truncate(@blogs[2].title.downcase.capitalize.gsub(/<.*?>/,''), :length => 90) %>
                                  <% else %>
                                  <% end %>

                                <!-- end .split_article_header --></div>

								<div class="article_space">
                                <!-- end .article_space --></div>

                                <div class="article_picture_div">

                                    <div class="article_picture_rectangle_holder">

                                        <div class="article_picture_rectangle">

                                            <div class="article_picture_rectangle_space">
                                            <!-- end .article_picture_rectangle_space --></div>

                                            <img src="../images/article_index_images/article_picture_rectangular_1.jpg"
                                            		width="284" height="114" alt="article_picture_rectangular_1" />

                                        <!-- end .article_picture_rectangle --></div>

                                    <!-- end .article_picture_rectangle_holder --></div>

                                <!-- end .article_picture_div --></div>

								<div class="article_space">
                                <!-- end .article_space --></div>

                                <div class="split_article_text">

	                                Excepteur sint occaecat cupidatat non proident, ut labore
                                    et dolore magna aliqua. Consectetur adipisicing elit, qui
                                    officia deserunt ut enim ad minim veniam. Sed do
                                    eiusmod tempor incididunt excepteur sint occaecat ut
                                    labore et dolore magna aliqua. Duis aute irure dolor in
                                    reprehenderit in voluptate lorem ...

                                <!-- end .split_article_text --></div>

                                <div class="article_space">
                                <!-- end .article_space --></div>

                                <div class="comment_read_div">

                                    <div class="comment_read">

                                        <a href="">

                                        <span class="article_icon">
                                        <!-- end .article_icon --></span>

                                        </a>

                                        <a href="">

                                            <span class="comment">32 Comments
                                            <!-- end .comment --></span>

                                        </a>

                                        <a href="">

                                            <span class="article_share">
                                            <!-- end #article_share--></span>

                                        </a>

                                        <a href="">

                                            <span class="article_read_more">
                                            <!-- end .article_read_more--></span>

                                        </a>

                                    <!-- end .comment_read --></div>

                                <!-- end .comment_read_div --></div>

                                <div class="article_space">
                                <!-- end .article_space --></div>

						<div class="tweet_facebook_div">

                            <span class="facebook_span">

                                <div class="facebook_bubble">23
                                <!-- end .facebook_bubble --></div>

                                <div class="facebook_button">
                                <!-- end .facebook_button --></div>

                            <!-- end .facebook_span--></span>

                            <span class="tweet_span">

                                <div class="tweet_bubble">56
                                <!-- end .tweet_bubble --></div>

                                <div class="tweet_button">
                                <!-- end .tweet_button --></div>

                            <!-- end .tweet_span--></span>

	                    <!-- end .tweet_facebook_div --></div>

                    <!-- end .split_article_div --></span>

                    <span class="split_article_1_div">

								<div class="split_article_news_rating">

                                    <div class="split_article_news_rating_pad">

                                        <div class="split_article_news">

                                            <div class="split_spacing_text">Article | News
                                            <!-- end .split_spacing_text --></div>

                                            <div class="split_rating_stars">

                                                <span class="rating">Rating:
                                                <!-- end .rating --></span>

                                                <span class="stars">

                                                    <img src="../images/article_index_images/rating.jpg" width="50" height="13" alt="rating" />

                                                <!-- end .stars --></span>

                                            <!-- end .split_rating_stars --></div>

                                        <!-- end .split_article_news --></div>

                                    <!-- end .split_article_news_rating_pad --></div>

                                <!-- end .split_article_news_rating --></div>

                                <div class="split_article_date_div">

                                    <span class="left_article_date_span">
                                    <!-- end .left_article_date_span --></span>

                                    <span class="right_article_date_span">

                                        <span class="date_number">20
                                        <!-- end .date_number --></span>

                                        <span class="date_text">

                                            <div class="date_text_top">
                                            <!-- end .date_text_top --></div>

                                            <div class="date_text_next">

                                                <div>
                                                    January <br/>
                                                    2011
                                                 </div>

                                            <!-- end .date_text_next --></div>

                                        <!-- end .date_text --></span>

                                    <!-- end .right_article_date_span --></span>

                                <!-- end .article_date_div --></div>

								                <div class="split_article_header">

                                  <% if @blogs[3] %>
                                    <%=h truncate(@blogs[3].title.downcase.capitalize.gsub(/<.*?>/,''), :length => 90) %>
                                  <% else %>
                                  <% end %>

                                <!-- end .split_article_header --></div>

								<div class="article_space">
                                <!-- end .article_space --></div>

                                <div class="article_picture_div">

                                    <div class="article_picture_rectangle_holder">

                                        <div class="article_picture_rectangle">

                                            <div class="article_picture_rectangle_space">
                                            <!-- end .article_picture_rectangle_space --></div>

                                            <img src="../images/article_index_images/article_picture_rectangular_1.jpg"
                                            		width="284" height="114" alt="article_picture_rectangular_1" />

                                        <!-- end .article_picture_rectangle --></div>

                                    <!-- end .article_picture_rectangle_holder --></div>

                                <!-- end .article_picture_div --></div>

								<div class="article_space">
                                <!-- end .article_space --></div>

                                <div class="split_article_text">

	                                Excepteur sint occaecat cupidatat non proident, ut labore
                                    et dolore magna aliqua. Consectetur adipisicing elit, qui
                                    officia deserunt ut enim ad minim veniam. Sed do
                                    eiusmod tempor incididunt excepteur sint occaecat ut
                                    labore et dolore magna aliqua. Duis aute irure dolor in
                                    reprehenderit in voluptate lorem ...

                                <!-- end .split_article_text --></div>

                                <div class="article_space">
                                <!-- end .article_space --></div>

                                <div class="comment_read_div">

                                    <div class="comment_read">

                                        <a href="">

                                        <span class="article_icon">
                                        <!-- end .article_icon --></span>

                                        </a>

                                        <a href="">

                                            <span class="comment">32 Comments
                                            <!-- end .comment --></span>

                                        </a>

                                        <a href="">

                                            <span class="article_share">
                                            <!-- end #article_share--></span>

                                        </a>

                                        <a href="">

                                            <span class="article_read_more">
                                            <!-- end .article_read_more--></span>

                                        </a>

                                    <!-- end .comment_read --></div>

                                <!-- end .comment_read_div --></div>

                                <div class="article_space">
                                <!-- end .article_space --></div>

						<div class="tweet_facebook_div">

                            <span class="facebook_span">

                                <div class="facebook_bubble">23
                                <!-- end .facebook_bubble --></div>

                                <div class="facebook_button">
                                <!-- end .facebook_button --></div>

                            <!-- end .facebook_span--></span>

                            <span class="tweet_span">

                                <div class="tweet_bubble">56
                                <!-- end .tweet_bubble --></div>

                                <div class="tweet_button">
                                <!-- end .tweet_button --></div>

                            <!-- end .tweet_span--></span>

	                    <!-- end .tweet_facebook_div --></div>

                    <!-- end .split_article_1_div --></span>

                <!-- end .second_article_div --></div>

                <div class="article_content_seperators">

                    <span class="left_article_content_seperators">
                    <!-- end .left_article_content_seperators --></span>

                    <span class="right_article_content_seperators">
                    <!-- end .right_article_content_seperators --></span>

                <!-- end .article_content_seperators --></div>

                <div class="second_article_div">

                    <span class="space_split_article_div">
                    <!-- end .space_split_article_div --></span>

                    <span class="split_article_div">

								<div class="split_article_news_rating">

                                    <div class="split_article_news_rating_pad">

                                        <div class="split_article_news">

                                            <div class="split_spacing_text">Article | News
                                            <!-- end .split_spacing_text --></div>

                                            <div class="split_rating_stars">

                                                <span class="rating">Rating:
                                                <!-- end .rating --></span>

                                                <span class="stars">

                                                    <img src="../images/article_index_images/rating.jpg" width="50" height="13" alt="rating" />

                                                <!-- end .stars --></span>

                                            <!-- end .split_rating_stars --></div>

                                        <!-- end .split_article_news --></div>

                                    <!-- end .split_article_news_rating_pad --></div>

                                <!-- end .split_article_news_rating --></div>

                                <div class="split_article_date_div">

                                    <span class="left_article_date_span">
                                    <!-- end .left_article_date_span --></span>

                                    <span class="right_article_date_span">

                                        <span class="date_number">20
                                        <!-- end .date_number --></span>

                                        <span class="date_text">

                                            <div class="date_text_top">
                                            <!-- end .date_text_top --></div>

                                            <div class="date_text_next">

                                                <div>
                                                    January <br/>
                                                    2011
                                                 </div>

                                            <!-- end .date_text_next --></div>

                                        <!-- end .date_text --></span>

                                    <!-- end .right_article_date_span --></span>

                                <!-- end .article_date_div --></div>

								<div class="split_article_header">

	                                Excepteur sint occaecat cupidatat!

                                <!-- end .split_article_header --></div>

								<div class="article_space">
                                <!-- end .article_space --></div>

                                <div class="article_picture_div">

                                    <div class="article_picture_rectangle_holder">

                                        <div class="article_picture_rectangle">

                                            <div class="article_picture_rectangle_space">
                                            <!-- end .article_picture_rectangle_space --></div>

                                            <img src="../images/article_index_images/article_picture_rectangular_1.jpg"
                                            		width="284" height="114" alt="article_picture_rectangular_1" />

                                        <!-- end .article_picture_rectangle --></div>

                                    <!-- end .article_picture_rectangle_holder --></div>

                                <!-- end .article_picture_div --></div>

								<div class="article_space">
                                <!-- end .article_space --></div>

                                <div class="split_article_text">

	                                Excepteur sint occaecat cupidatat non proident, ut labore
                                    et dolore magna aliqua. Consectetur adipisicing elit, qui
                                    officia deserunt ut enim ad minim veniam. Sed do
                                    eiusmod tempor incididunt excepteur sint occaecat ut
                                    labore et dolore magna aliqua. Duis aute irure dolor in
                                    reprehenderit in voluptate lorem ...

                                <!-- end .split_article_text --></div>

                                <div class="article_space">
                                <!-- end .article_space --></div>

                                <div class="comment_read_div">

                                    <div class="comment_read">

                                        <a href="">

                                        <span class="article_icon">
                                        <!-- end .article_icon --></span>

                                        </a>

                                        <a href="">

                                            <span class="comment">32 Comments
                                            <!-- end .comment --></span>

                                        </a>

                                        <a href="">

                                            <span class="article_share">
                                            <!-- end #article_share--></span>

                                        </a>

                                        <a href="">

                                            <span class="article_read_more">
                                            <!-- end .article_read_more--></span>

                                        </a>

                                    <!-- end .comment_read --></div>

                                <!-- end .comment_read_div --></div>

                                <div class="article_space">
                                <!-- end .article_space --></div>

						<div class="tweet_facebook_div">

                            <span class="facebook_span">

                                <div class="facebook_bubble">23
                                <!-- end .facebook_bubble --></div>

                                <div class="facebook_button">
                                <!-- end .facebook_button --></div>

                            <!-- end .facebook_span--></span>

                            <span class="tweet_span">

                                <div class="tweet_bubble">56
                                <!-- end .tweet_bubble --></div>

                                <div class="tweet_button">
                                <!-- end .tweet_button --></div>

                            <!-- end .tweet_span--></span>

	                    <!-- end .tweet_facebook_div --></div>

                    <!-- end .split_article_div --></span>

                    <span class="split_article_1_div">

								<div class="split_article_news_rating">

                                    <div class="split_article_news_rating_pad">

                                        <div class="split_article_news">

                                            <div class="split_spacing_text">Article | News
                                            <!-- end .split_spacing_text --></div>

                                            <div class="split_rating_stars">

                                                <span class="rating">Rating:
                                                <!-- end .rating --></span>

                                                <span class="stars">

                                                    <img src="../images/article_index_images/rating.jpg" width="50" height="13" alt="rating" />

                                                <!-- end .stars --></span>

                                            <!-- end .split_rating_stars --></div>

                                        <!-- end .split_article_news --></div>

                                    <!-- end .split_article_news_rating_pad --></div>

                                <!-- end .split_article_news_rating --></div>

                                <div class="split_article_date_div">

                                    <span class="left_article_date_span">
                                    <!-- end .left_article_date_span --></span>

                                    <span class="right_article_date_span">

                                        <span class="date_number">20
                                        <!-- end .date_number --></span>

                                        <span class="date_text">

                                            <div class="date_text_top">
                                            <!-- end .date_text_top --></div>

                                            <div class="date_text_next">

                                                <div>
                                                    January <br/>
                                                    2011
                                                 </div>

                                            <!-- end .date_text_next --></div>

                                        <!-- end .date_text --></span>

                                    <!-- end .right_article_date_span --></span>

                                <!-- end .article_date_div --></div>

								<div class="split_article_header">

	                                Excepteur sint occaecat cupidatat!

                                <!-- end .split_article_header --></div>

								<div class="article_space">
                                <!-- end .article_space --></div>

                                <div class="article_picture_div">

                                    <div class="article_picture_rectangle_holder">

                                        <div class="article_picture_rectangle">

                                            <div class="article_picture_rectangle_space">
                                            <!-- end .article_picture_rectangle_space --></div>

                                            <img src="../images/article_index_images/article_picture_rectangular_1.jpg"
                                            		width="284" height="114" alt="article_picture_rectangular_1" />

                                        <!-- end .article_picture_rectangle --></div>

                                    <!-- end .article_picture_rectangle_holder --></div>

                                <!-- end .article_picture_div --></div>

								<div class="article_space">
                                <!-- end .article_space --></div>

                                <div class="split_article_text">

	                                Excepteur sint occaecat cupidatat non proident, ut labore
                                    et dolore magna aliqua. Consectetur adipisicing elit, qui
                                    officia deserunt ut enim ad minim veniam. Sed do
                                    eiusmod tempor incididunt excepteur sint occaecat ut
                                    labore et dolore magna aliqua. Duis aute irure dolor in
                                    reprehenderit in voluptate lorem ...

                                <!-- end .split_article_text --></div>

                                <div class="article_space">
                                <!-- end .article_space --></div>

                                <div class="comment_read_div">

                                    <div class="comment_read">

                                        <a href="">

                                        <span class="article_icon">
                                        <!-- end .article_icon --></span>

                                        </a>

                                        <a href="">

                                            <span class="comment">32 Comments
                                            <!-- end .comment --></span>

                                        </a>

                                        <a href="">

                                            <span class="article_share">
                                            <!-- end #article_share--></span>

                                        </a>

                                        <a href="">

                                            <span class="article_read_more">
                                            <!-- end .article_read_more--></span>

                                        </a>

                                    <!-- end .comment_read --></div>

                                <!-- end .comment_read_div --></div>

                                <div class="article_space">
                                <!-- end .article_space --></div>

						<div class="tweet_facebook_div">

                            <span class="facebook_span">

                                <div class="facebook_bubble">23
                                <!-- end .facebook_bubble --></div>

                                <div class="facebook_button">
                                <!-- end .facebook_button --></div>

                            <!-- end .facebook_span--></span>

                            <span class="tweet_span">

                                <div class="tweet_bubble">56
                                <!-- end .tweet_bubble --></div>

                                <div class="tweet_button">
                                <!-- end .tweet_button --></div>

                            <!-- end .tweet_span--></span>

	                    <!-- end .tweet_facebook_div --></div>

                    <!-- end .split_article_1_div --></span>

                <!-- end .second_article_div --></div>

				<div id="pagination_div">

                    <div id="pagination">

                        <a href="">

                        <span id="previous">
                        <!-- end #previous --></span>

                        </a>

                        <a href="">

                            <span class="page"><<
                            <!-- end .page --></span>

                        </a>

                        <a href="">

                            <span class="page">1
                            <!-- end #page--></span>

                        </a>

                        <a href="">

                            <span class="page">2
                            <!-- end .page--></span>

                        </a>

                        <a href="">

                            <span class="page">3
                            <!-- end .page--></span>

                        </a>

                        <a href="">

                            <span class="page">4
                            <!-- end .page--></span>

                        </a>

                        <a href="">

                            <span class="page">5
                            <!-- end .page--></span>

                        </a>

                        <a href="">

                            <span class="page">6
                            <!-- end .page--></span>

                        </a>

                        <a href="">

                            <span class="page">>>
                            <!-- end .page --></span>

                        </a>

                        <a href="">

                        <span id="next">
                        <!-- end #next --></span>

                        </a>

                    <!-- end #pagination --></div>

                <!-- end #pagination_div --></div>

                <div id="content_base">
				<!-- end #content_base --></div>

            <!-- end #main_content --></span>

            <span id="sidebar">

                <div id="sidebar_top">
                <!-- end #sidebar_top --></div>

                <div id="books_n_products">
                <!-- end #books_n_products --></div>

                <div class="sidebar_content">

                    <div class="sidebar_content_space">
                    <!-- end .sidebar_content_space --></div>

                    <div class="take_word_press_further_div">

                        <div class="take_word_press_further">

                        	<img src="../images/article_index_images/take_word_press_further.jpg" height="108" width="272" />

                        <!-- end .take_word_press_further --></div>

                    <!-- end .take_word_press_further_div --></div>

                    <div class="sidebar_content_space">
                    <!-- end .sidebar_content_space --></div>

                <!-- end .sidebar_content --></div>

                <div id="free_updates">
                <!-- end #free_updates --></div>

                <div class="sidebar_content">

                    <div class="sidebar_content_space">
                    <!-- end .sidebar_content_space --></div>

                    <div id="enter_email_address_div">

                        <div id="enter_email_address_holder">

                            <div id="enter_email_address_text">

                                To receive updates on your email and receive free books
                                and other gift items send us your email. Thanks

                            <!-- end #enter_email_address_text --></div>

                            <div id="enter_email_address_span">

                                <span id="enter_email_address_text_field">
                                <!-- end #enter_email_address_text_field --></span>

                                <span id="enter_email_address_button">
                                <!-- end #enter_email_address_button --></span>

							<!-- end #enter_email_address_span --></div>

                        <!-- end #enter_email_address_holder --></div>

                    <!-- end #enter_email_address_div --></div>

                    <div class="sidebar_content_space">
                    <!-- end .sidebar_content_space --></div>

                <!-- end .sidebar_content --></div>

				<div id="sponsors_n_affiliates">
                <!-- end #sponsors_n_affiliates --></div>

				<div class="sidebar_content">

                    <div class="sidebar_content_space">
                    <!-- end .sidebar_content_space --></div>

                    <div id="four_sponsors_div">

                        <div id="four_sponsors">

                            <div class="two_sponsors">

                                <span class="one_sponsor">

                                	<img src="../images/article_index_images/win_sponsor.jpg" width="108" height="108" alt="win_sponsor" />

                                <!-- end .one_sponsor --></span>

                                <span class="one_sponsor_space">
                                <!-- end .one_sponsor_space --></span>

                                <span class="one_sponsor">

                                	<img src="../images/article_index_images/seo_sponsor.jpg" width="108" height="108" alt="seo_sponsor" />

                                <!-- end .one_sponsor --></span>

                            <!-- end .two_sponsors --></div>

                            <div id="two_sponsors_space">
                            <!-- end #two_sponsors_space --></div>

                            <div class="two_sponsors">

                                <span class="one_sponsor">

                                	<img src="../images/article_index_images/break_sponsor.jpg" width="108" height="108" alt="break_sponsor" />

                                <!-- end .one_sponsor --></span>

                                <span class="one_sponsor_space">
                                <!-- end .one_sponsor_space --></span>

                                <span class="one_sponsor">

                                	<img src="../images/article_index_images/empire_sponsor.jpg" width="108" height="108" alt="empire_sponsor" />

                                <!-- end .one_sponsor --></span>

                            <!-- end .two_sponsors --></div>

                        <!-- end #four_sponsors --></div>

                    <!-- end #four_sponsors_div --></div>

                    <div class="sidebar_content_space">
                    <!-- end .sidebar_content_space --></div>

                <!-- end .sidebar_content --></div>

                <div id="about_me">
                <!-- end #about_me --></div>

                <div class="sidebar_content">

                    <div class="sidebar_content_space">
                    <!-- end .sidebar_content_space --></div>

                    <div id="about_me_div">

                        <div id="about_me_holder">

                          <div id="about_me_picture">

								<div id="about_me_large_border">

                                	<div id="about_me_larger_border">

	                                	<div id="about_me_picture_top">
	                                    <!-- end #about_me_picture_top --></div>

	                                	<div id="about_me_picture_img">

	   	    	                    		<img src="../images/article_index_images/about_me_photo.jpg" width="204" height="204" />

	                                    <!-- end #about_me_picture_img --></div>

                                    <!-- end #about_me_larger_border --></div>

	    	                    <!-- end #about_me_picture --></div>

                          <!-- end #about_me_picture --></div>

                           <div id="about_me_text_space">
                          <!-- end #about_me_text_space --></div>

                           <div id="about_me_text">

                              <div>
                                    Duis aute irure dolor lorem ipsum dolor sit amet, ullamco laboris nisi. Sunt in culpa in reprehenderit
                                    in voluptate ut aliquip ex ea commodo consequat. Mollit anim id est...
                              </div>

                              <div id="read_more">
                                    Read More
                              <!-- end #read_more --></div>

							<!-- end #about_me_text --></div>

                        <!-- end #about_me_holder --></div>

                    <!-- end #about_me_div --></div>

                    <div class="sidebar_content_space">
                    <!-- end .sidebar_content_space --></div>

                <!-- end .sidebar_content --></div>

                <div id="popular_tags">
                <!-- end #popular_tags --></div>

                <div class="sidebar_content">

                    <div class="sidebar_content_space">
                    <!-- end .sidebar_content_space --></div>

                    <div id="popular_tags_content_div">

                        <div id="popular_tags_content">

                        	<img src="../images/article_index_images/popular_tags_content.jpg" width="235" height="139" alt="Popular Tags Content" />

                        <!-- end #popular_tags_content --></div>

                    <!-- end #popular_tags_content_div --></div>

                    <div class="sidebar_content_space">
                    <!-- end .sidebar_content_space --></div>

                <!-- end .sidebar_content --></div>

                <div id="downloads">
                <!-- end #downloads --></div>

                <div class="sidebar_content">

                    <div class="sidebar_content_space">
                    <!-- end .sidebar_content_space --></div>

                    <div class="take_word_press_further_div">

                        <div class="take_word_press_further">

                        	<img src="../images/article_index_images/take_word_press_further.jpg" height="108" width="272" />

                        <!-- end .take_word_press_further --></div>

                    <!-- end .take_word_press_further_div --></div>

                    <div class="sidebar_content_space">
                    <!-- end .sidebar_content_space --></div>

                <!-- end .sidebar_content --></div>

                <div id="popular_articles">
                <!-- end #popular_articles --></div>

                <div class="sidebar_content">

                    <div class="sidebar_content_space">
                    <!-- end .sidebar_content_space --></div>

                    <div id="popular_articles_text_div">

                        <div id="popular_articles_text">

                            <a href="" class="article_text_holder" title="Dynamic Article Text">

                                <div class="article_text_div">

                                    <div class="article_text_frame">

                                            <div class="article_text_holder_space">
                                            <!-- end .article_text_holder_space --></div>

                                            <div class="article_text_holder_header">

                                                Ut labore et dolore magna aliqua.

                                            <!-- end .article_text_holder_header --></div>

                                            <div class="article_text_holder_info">

                                                Consectetur adipisicing elit, ut enim ad minim veniam quis nostrud exercitation.
                                                In reprehenderit in voluptate sed do...

                                            <!-- end .article_text_holder_info --></div>

                                            <div class="article_text_holder_read">

                                                Read More

                                            <!-- end .article_text_holder_read --></div>

                                    <!-- end .article_text_frame --></div>

                                <!-- end .article_text_div --></div>

                            <!-- end .article_text_holder --></a>

                        <!-- end #popular_articles_text --></div>

                    <!-- end #popular_articles_text_div --></div>

                    <div class="popular_articles_text_space">
                    <!-- end #popular_articles_text_space --></div>

                    <div id="popular_articles_text_div">

                        <div id="popular_articles_text">

                            <a href="" class="article_text_holder" title="Dynamic Article Text">

                                <div class="article_text_div">

                                    <div class="article_text_frame">

                                            <div class="article_text_holder_space">
                                            <!-- end .article_text_holder_space --></div>

                                            <div class="article_text_holder_header">

                                                Ut labore et dolore magna aliqua.

                                            <!-- end .article_text_holder_header --></div>

                                            <div class="article_text_holder_info">

                                                Consectetur adipisicing elit, ut enim ad minim veniam quis nostrud exercitation.
                                                In reprehenderit in voluptate sed do...

                                            <!-- end .article_text_holder_info --></div>

                                            <div class="article_text_holder_read">

                                                Read More

                                            <!-- end .article_text_holder_read --></div>

                                    <!-- end .article_text_frame --></div>

                                <!-- end .article_text_div --></div>

                            <!-- end .article_text_holder --></a>

                        <!-- end #popular_articles_text --></div>

                    <!-- end #popular_articles_text_div --></div>

                    <div id="popular_articles_text_div">

                        <div id="popular_articles_text">

                            <a href="" class="article_text_holder" title="Dynamic Article Text">

                                <div class="article_text_div">

                                    <div class="article_text_frame">

                                            <div class="article_text_holder_space">
                                            <!-- end .article_text_holder_space --></div>

                                            <div class="article_text_holder_header">

                                                Ut labore et dolore magna aliqua.

                                            <!-- end .article_text_holder_header --></div>

                                            <div class="article_text_holder_info">

                                                Consectetur adipisicing elit, ut enim ad minim veniam quis nostrud exercitation.
                                                In reprehenderit in voluptate sed do...

                                            <!-- end .article_text_holder_info --></div>

                                            <div class="article_text_holder_read">

                                                Read More

                                            <!-- end .article_text_holder_read --></div>

                                    <!-- end .article_text_frame --></div>

                                <!-- end .article_text_div --></div>

                            <!-- end .article_text_holder --></a>

                        <!-- end #popular_articles_text --></div>

                    <!-- end #popular_articles_text_div --></div>

                    <div class="popular_articles_text_space">
                    <!-- end #popular_articles_text_space --></div>

                    <div id="popular_articles_text_div">

                        <div id="popular_articles_text">

                            <a href="" class="article_text_holder" title="Dynamic Article Text">

                                <div class="article_text_div">

                                    <div class="article_text_frame">

                                            <div class="article_text_holder_space">
                                            <!-- end .article_text_holder_space --></div>

                                            <div class="article_text_holder_header">

                                                Ut labore et dolore magna aliqua.

                                            <!-- end .article_text_holder_header --></div>

                                            <div class="article_text_holder_info">

                                                Consectetur adipisicing elit, ut enim ad minim veniam quis nostrud exercitation.
                                                In reprehenderit in voluptate sed do...

                                            <!-- end .article_text_holder_info --></div>

                                            <div class="article_text_holder_read">

                                                Read More

                                            <!-- end .article_text_holder_read --></div>

                                    <!-- end .article_text_frame --></div>

                                <!-- end .article_text_div --></div>

                            <!-- end .article_text_holder --></a>

                        <!-- end #popular_articles_text --></div>

                    <!-- end #popular_articles_text_div --></div>

                    <div id="popular_articles_text_div">

                        <div id="popular_articles_text">

                            <a href="" class="article_text_holder" title="Dynamic Article Text">

                                <div class="article_text_div">

                                    <div class="article_text_frame">

                                            <div class="article_text_holder_space">
                                            <!-- end .article_text_holder_space --></div>

                                            <div class="article_text_holder_header">

                                                Ut labore et dolore magna aliqua.

                                            <!-- end .article_text_holder_header --></div>

                                            <div class="article_text_holder_info">

                                                Consectetur adipisicing elit, ut enim ad minim veniam quis nostrud exercitation.
                                                In reprehenderit in voluptate sed do...

                                            <!-- end .article_text_holder_info --></div>

                                            <div class="article_text_holder_read">

                                                Read More

                                            <!-- end .article_text_holder_read --></div>

                                    <!-- end .article_text_frame --></div>

                                <!-- end .article_text_div --></div>

                            <!-- end .article_text_holder --></a>

                        <!-- end #popular_articles_text --></div>

                    <!-- end #popular_articles_text_div --></div>

                    <div class="popular_articles_text_space">
                    <!-- end #popular_articles_text_space --></div>

                    <div id="popular_articles_text_div">

                        <div id="popular_articles_text">

                            <a href="" class="article_text_holder" title="Dynamic Article Text">

                                <div class="article_text_div">

                                    <div class="article_text_frame">

                                            <div class="article_text_holder_space">
                                            <!-- end .article_text_holder_space --></div>

                                            <div class="article_text_holder_header">

                                                Ut labore et dolore magna aliqua.

                                            <!-- end .article_text_holder_header --></div>

                                            <div class="article_text_holder_info">

                                                Consectetur adipisicing elit, ut enim ad minim veniam quis nostrud exercitation.
                                                In reprehenderit in voluptate sed do...

                                            <!-- end .article_text_holder_info --></div>

                                            <div class="article_text_holder_read">

                                                Read More

                                            <!-- end .article_text_holder_read --></div>

                                    <!-- end .article_text_frame --></div>

                                <!-- end .article_text_div --></div>

                            <!-- end .article_text_holder --></a>

                        <!-- end #popular_articles_text --></div>

                    <!-- end #popular_articles_text_div --></div>

                    <div class="sidebar_content_space">
                    <!-- end .sidebar_content_space --></div>

                <!-- end .sidebar_content --></div>

                <div id="sidebar_bottom">
                <!-- end #sidebar_bottom --></div>

            <!-- end #sidebar --></span>

        <!-- end #main_content_div --></div>

    <!-- end #container --></div>

    <div class="space_b4_content">
    <!-- end .space_b4_content --></div>

    <div id="footer_content_div">

        <div id="footer_content">

            <span id="recent_posts">

                <span id="recent_posts_lines">

                    <div id="recent_posts_top">
                    <!-- end #recent_posts_top --></div>

                    <div id="recent_posts_header">
                    <!-- end #recent_posts_header --></div>

                    <div id="recent_posts_space">
                    <!-- end #recent_posts_space --></div>

                    <div id="recent_posts_text">

                        <a href="">

                            <div id="recent_posts_text_header">

                                <span class="news">Today's News</span>

                                <span class="date">20/01/2011</span>

                            <!-- end #recent_posts_text_header --></div>

                        </a>

                    <!-- end #recent_posts_text --></div>

                    <div id="recent_posts_text">

                        <a href="">

                            <div id="recent_posts_text_header">

                                <span class="news">Yesterday's News</span>

                                <span class="date">19/01/2011</span>

                            <!-- end #recent_posts_text_header --></div>

                        </a>

                    <!-- end #recent_posts_text --></div>

                    <div id="recent_posts_text">

                        <a href="">

                            <div id="recent_posts_text_header">

                                <span class="news">Day Before News</span>

                                <span class="date">18/01/2011</span>

                            <!-- end #recent_posts_text_header --></div>

                        </a>

                    <!-- end #recent_posts_text --></div>

                    <div id="recent_posts_text">

                        <a href="">

                            <div id="recent_posts_text_header">

                                <span class="news">Three Days Ago News</span>

                                <span class="date">17/01/2011</span>

                            <!-- end #recent_posts_text_header --></div>

                        </a>

                    <!-- end #recent_posts_text --></div>

                    <div id="recent_posts_text">

                        <a href="">

                            <div id="recent_posts_text_header">

                                <span class="news">Four Days Ago News</span>

                                <span class="date">16/01/2011</span>

                            <!-- end #recent_posts_text_header --></div>

                        </a>

                    <!-- end #recent_posts_text --></div>

                <!-- end #recent_posts_lines --></span>

            <!-- end #recent_posts --></span>

            <span id="footer_shadows">
            <!-- end #footer_shadows --></span>

            <span id="recent_comments">

                <span id="recent_comments_lines">

                    <div id="recent_comments_top">
                    <!-- end #recent_comments_top --></div>

                    <div id="recent_comments_header">
                    <!-- end #recent_comments_header --></div>

                    <div id="recent_comments_space">
                    <!-- end #recent_comments_space --></div>

                    <div id="recent_comments_text_header">

                    	<div>Alexandria said:</div>

                    <!-- end #recent_comments_text_header --></div>

                    <div id="recent_comments_text">

                    	<div>

							Duis aute irure dolor ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur
                            sint occaecat eu...

                        </div>

                        <a href="">

                            <div id="comments_read_more">
                                Read More
                            <!-- end #comments_read_more --></div>

                        </a>

                    <!-- end #recent_comments_text --></div>

                    <div id="recent_comments_space">
                    <!-- end #recent_comments_space --></div>

                    <div id="recent_comments_text_header">

                    	<div>Alexandria said:</div>

                    <!-- end #recent_comments_text_header --></div>

                    <div id="recent_comments_text">

                    	<div>

							Duis aute irure dolor ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur
                            sint occaecat eu...

                        </div>

                        <a href="">

                            <div id="comments_read_more">
                                Read More
                            <!-- end #comments_read_more --></div>

                        </a>

                    <!-- end #recent_comments_text --></div>

                <!-- end #recent_comments_lines --></span>

            <!-- end #recent_comments --></span>

        <!-- end #footer_content --></div>

    <!-- end #footer_content_div --></div>

    <div id="footer">

        <div id="footer_text">

        niyicharlesblogspot.com . All rights reserved. Ullamco laboris nisi sunt in culpa lorem ipsum dolor sit 	amet. Qui officia 			deserunt. Sed do eiusmod tempor incididunt.

        <!-- end #footer_text --></div>

    <!-- end #footer --></div>

<% for blog in @blogs %>

  <div>
    <% if @blogs[1] %>
      <%= @blogs[1].title %>
    <% else %>
    <% end %>
  </div>

  <div>
  </div>

  <div>
    <%= image_tag blog.photo.url(:snapshot) %>
  </div>
  <div>
    <%=h blog.title %>
  </div>

  <div>
    <%=h blog.location %>
  </div>

  <div>
    <%=h blog.date_of_event %>
  </div>

  <div>
    <%=h blog.emphasis %>
  </div>

  <div>
    <%=h blog.author %>
  </div>

  <div>
    <%=h blog.photographer %>
  </div>

  <div>
    <%=h truncate(blog.information.gsub(/<.*?>/,''), :length => 500) %>
  </div>

  <div>
    <%=h blog.tags %>
  </div>

  <div>
    <%=h blog.category_id %>
  </div>

  <div>
    <%= link_to "Show", blog %>
  </div>

  <div>
    <%= link_to "Edit", edit_blog_path(blog) %>
  </div>

  <div>
    <%= link_to "Destroy", blog, :confirm => 'Are you sure?', :method => :delete %>
  </div>

  <br />
  <br />
  <br />
  <br />

<% end %>

<div class="pagination">
  <%= will_paginate @blogs %>
</div><!-- end .pagination -->

<p><%= link_to "New Blog", new_blog_path %></p>

